{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure    {:mvn/version "1.10.3"}
           com.fulcrologic/fulcro {:mvn/version "3.5.2"}
           datascript             {:mvn/version "1.2.2"}
           binaryage/oops         {:mvn/version "0.7.1"}
           cljs-http              {:mvn/version "0.1.46"}
           }

 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.879"}
                               thheller/shadow-cljs      {:mvn/version "2.15.3"}
                               binaryage/devtools        {:mvn/version "1.0.3"}}}}}